<mat-form-field class="m-3">
  <input matInput placeholder="Filter by"  [(ngModel)]="query">
</mat-form-field>
<section class="film-list" *ngIf="films.length">
  <mat-card class="film-card" *ngFor="let film of films | search:'title,genre':query ; let i = index">
    <mat-card-title class="mb-3">{{film.title}}</mat-card-title>
    <mat-card-content class= "m-3">
      <img
        mat-card-image
        src={{film.imageUrl}}>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions class="m-1">
      <button mat-raised-button (click)="toggleFilmDetails()">Show film detail</button>
    </mat-card-actions>
    <app-films-detail *ngIf="filmsDetailIsVisible" [film]=film></app-films-detail>
    <button routerLink="{{film.id}}" mat-raised-button>Edit</button>
    <button (click)="deleteMovie(film.id)" mat-raised-button>Delete</button>
  </mat-card>
</section>
